{% extends 'formore_infomation.html' %} {% block title %}Contact Us{% endblock
%} {% block content %}
<style>
  body {
    font-family: 'Outfit', Arial, sans-serif;
  }
  .btn-group {
    display: flex; /* Use flexbox for button group */
    justify-content: center; /* Center align buttons horizontally */
  }
  .btn-group .btn {
    margin: 2px; /* Add margin to buttons */
    gap: 20px;
  }
  .container a {
    margin-bottom: 20px;
  }
  /* New styles to ensure footer is properly positioned */
  html,
  body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }
  footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
  }
</style>
<div class="container">
  <h2 class="mt-4 mb-4">Contact Us</h2>
  <p>
    If you have any questions or need further information, please contact us
    through one of the following methods:
  </p>
  <ul>
    <li>
      Email:
      <a href="mailto:bayizeremarius@gmail.com">bayizeremarius@gmail.com</a>
    </li>
    <li>
      Email:
      <a href="mailto:carrentalmanagementsystem@gmail.com"
        >carrentalmanagementsystem@gmail.com</a
      >
    </li>
    <li>Phone: +250 787 667 755</li>
  </ul>
  <p>Follow us on social media for updates:</p>
  <div>
    <a href="https://www.facebook.com/"
      ><img
        src="{{ url_for('static', filename='images/facebook.png') }}"
        alt="Facebook"
        style="width: 30px; margin-right: 10px"
    /></a>
    <a href="https://www.twitter.com/"
      ><img
        src="{{ url_for('static', filename='images/tweeter.png') }}"
        alt="Twitter"
        style="width: 20px; margin-right: 10px"
    /></a>
    <a href="https://www.instagram.com/"
      ><img
        src="{{ url_for('static', filename='images/instagramLog.png') }}"
        alt="Instagram"
        style="width: 20px"
    /></a>
  </div>
</div>
{% endblock %}
