{% extends 'headerFooter.html' %}

{% block title %}Cars{% endblock %}

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Update Maintenance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">

</head>
<style>
    body{
        font-family: 'Outfit', Arial, sans-serif;
    }
    .container .form-group {
        width: 500px;
    }
</style>
<body>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h2>Update Maintenance</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('update_maintenance', maintenance_id=maintenance_id) }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.maintenance_type.label(class="form-control-label") }}
                        {{ form.maintenance_type(class="form-control") }}
                        {% for error in form.maintenance_type.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.maintenance_date.label(class="form-control-label") }}
                        {{ form.maintenance_date(class="form-control") }}
                        {% for error in form.maintenance_date.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.car_id.label(class="form-control-label") }}
                        {{ form.car_id(class="form-control") }}
                        {% for error in form.car_id.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.maintenance_cost.label(class="form-control-label") }}
                        {{ form.maintenance_cost(class="form-control") }}
                        {% for error in form.maintenance_cost.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.employee_id.label(class="form-control-label") }}
                        {{ form.employee_id(class="form-control") }}
                        {% for error in form.employee_id.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">Update Maintenance</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
